@media only screen and (max-device-width: 480px) {
        div#wrapper {
            width: 400px;
        }

        div#header {
            background-image: url(media-queries-phone.jpg);
            height: 93px;
            position: relative;
        }

        div#header h1 {
            font-size: 140%;
        }

        #content {
            float: none;
            width: 100%;
        }

        #navigation {
            float:none;
            width: auto;
        }
        h1 {
  color: white;
  text-align: center;
}

h2 {
    background-image: url("ogre.jpg");
   background-repeat: no-repeat;
    background-size: 300px 100px;
    background-position: left; 

}

p1 {
font: italic;
background-color: white; 
  text-align: left;
}

p2 { 
  background-image: url('shrek2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right; 
}
    }
