body {
  background-color: lightblue;
  background-image: url("ogre.jpg");    
 
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  font-color: green;
}
