body {
text-align: left;
}
h1 {
  color: white;
  text-align: center;
}

h2 {
    background-image: url("ogre.jpg");
   background-repeat: no-repeat;
    background-size: 300px 100px;
}

p1 {
font: italic;
background-color: white; 
  text-align: left;
}

p2 {
font: italic
  background-color: green;
  text-align: right;
}
